@charset "utf-8";

/*메인슬라이더*/
.main_slider{
    background:url(../images/mainbg.png) no-repeat;
    width: 100%;
    height: 1000px;
    position: relative;
}
.main_slider img{
    margin-left: 280px;
    height: 1000px;
}
.main_slider .main_logo{
    width: 300px;
    height: 146px;
    position: absolute;
    right: 320px;
    top: 50%;
    margin: 0;
    margin-top: -73px;
}

/*컨텐츠1*/
.con1{
    height: 916px;
    font-size: 0;
    background: url(../images/con2_bg.png) no-repeat;
    position: relative;
    padding-top: 114px;
}
.con1_text{
    height: 834px;
    width: 20px;
    background: url(../images/con1_text.png) no-repeat;
    text-indent: -9999px;
    position: absolute;
    left: 78px;
    top: 50%;
    margin-top: -417px;
}
.con1 img{
    height: 830px;
    box-shadow: 2px 3px 2px rgba(0,0,0,0.2);
}
.con1 .con1img{
    margin-left: 94px;
}

.con1 p{
    color: #30323c;
    font-family: 'NotoSans';
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 10px;
    margin: 26px 0 0 794px;
}
.con1 p span{
    margin-left: 40px;
}

/*con2*/
.con2{
    height: 1060px;
    background: #f1f3f2;
    padding-top: 45px
}
.con2_wrap{
    width: 1089px;
    margin: 0 auto;
}
.con2_wrap li{
    width: 363px;
    height: 485px;
    float: left;
}

.empty_box{

}
.middle_box1{
    background: url(../images/con2_1.png) no-repeat;
    background-size:100% 100%;
}
.middle_box2{
    background: url(../images/con2_4.png) no-repeat;
    background-size:100% 100%;
}

.info_box1{
    background: url(../images/con2_2.png) no-repeat;
    background-size:100% 100%;
}
.info_box2{
    background: url(../images/con2_3.png) no-repeat;
    background-size:100% 100%;
}
.con2_wrap li a{
    opacity: 0;
    display:block;
    text-align: center;
    height: 100%;
    line-height: 485px;
    font-size: 18px;
    color: #fff;
}
.con2_wrap li a:hover{
    transition: opacity 1s;
    opacity: 1;
}

/*con3*/
.con3{
    height: 1874px;
    background: url(../images/conbg1.png);
    position: relative;
    padding-top: 246px;
    font-size: 0;
}
.con3_title{
    background: url(../images/con3_title.png) no-repeat;
    width: 860px;
    height: 110px;
    top: -49px;
    left: -113px;
    z-index: 1;
    position: absolute;
}
.con3_img{
    background: url(../images/con3_img.png) no-repeat;
    width: 1200px;
    height: 1628px;
    background-size: 100% 100%;
    position: relative;
}
.con3_t1,.con3_t2{
    position: absolute;
}
.con3_t1{
    top: 720px;
    left: 150px;
}
.con3_t2{
    left: 150px;
    bottom: 35px;
}
.con3_text ul{}
.con3_text ul li{
    font-size: 14px;
    width: 520px;
    margin-top: 15px;
    display: inline-block;
}
.con3_text ul li a{
    font-weight: 600;
    font-size: 15px;
}

/*con3 logo*/
.con3_logo{
    
    background: url(../images/con3_logo.png) no-repeat;
    position: absolute; 
    width: 132px;
    height: 340px;
    right: 30px;
    bottom: -172px;
}
/*con4*/
.con4{
    height: 1874px;
    padding-top: 246px;
    font-size: 0;
    background: url(../images/conbg2.jpg);
}
.con4_img{
    background: url(../images/con4_img.png) no-repeat;
    width: 1200px;
    height: 1628px;
    background-size: 100% 100%;
    position: relative;
}
.con4_text ul li{
    width: 540px;
}
.con4_t1{
    top: 730px;
    left: 115px;
}
.con4_t2{
    bottom: 35px;
    left: 115px;
}

.con3_img,.con4_img{
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}
/*footer*/
#footer{
    height: 250px;
    color: #30323c;
}
#footer .inner{
    border-top: 2px solid #6e6f76;
    margin-top: 50px;
}

.f_left{
    float:left;
    width:50%;
}
.f_logo{
    width: 102px;
    height: 42px;
    background: url(../images/f_logo.png) no-repeat;
    background-size: 100%;
    text-indent: -9999px;
    margin: 25px 0;
}
.f_call{
    font-size: 22px
}
.f_left p{
    margin-top: 20px;
    font-size: 12px;
}

.f_right{
    margin-top: 20px;
    float:right;
    width:50%;
}
.f_right ul{
     margin-left: 248px;
}
.f_right ul li a{
    color: #30323c;
}
.f_right ul li{
    float: left;
    font-size: 15px;
}
.f_right ul li:after{
    display: inline-block;
    content: "";
    background: #30323c;
    width: 1px;
    height: 12px;
    margin: 0 15px;
}
.f_right ul li:last-child:after{
    display: none;
}
.f_right p{
    margin: 105px 0 0 464px;
}

